.col-xs-13ths,
.col-sm-13ths,
.col-md-13ths,
.col-lg-13ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-13ths {
    width: 7.69%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-13ths {
        width: 7.69%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-13ths {
        width: 7.69%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-13ths {
        width: 7.69%;
        float: left;
    }
    /*TOMAR 5 COLUMNAS*/
    .col-lg-5ths {
        width: 38.46%;
        float: left;
    }
    /*TOMAR 5 COLUMNAS*/
    .col-lg-3ths {
        width: 23%;
        float: left;
    }
}
