body{
    font-family: 'Barlow', sans-serif !important;
    background-color: #ffffff;
  }

/* .imagen {
    height: 50px;
    width: 100%;
} */
.image {
    background-image: url('../assets/home_icvu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 250px;
    z-index: 0;
}

.title {
    font-family: 'Barlow', sans-serif !important;
    font-weight: bold;
    font-size: 90px;
    z-index: 100;
    position: absolute;
    top: 18%; /* 11 vw*/
    left: 44%;
} 
@media screen and (max-width: 550px) {
  .title {
    left: 30%;
    top: 20%;
  }
}

@media (min-width: 551px) and (max-width: 900px) {
  .title {
    left: 35%;
    top: 21%;
  }
}
@media screen and (max-width: 900px){
  #inicio{
    align-self: center;
  }
}

.accordion {
    align-self: center;
    float: center;
}
 .card-header {
     /* width: 60%;
     height: 10%; */
     background-color: #222;
     color: white;
     text-align: center;
 }
 .btn-link {
     color: white;
     font-size: 0.8em;
     margin-top: 10px;
 }

 i {
     float: right;
     margin: 15px 15px 0 0;
 }
 .iconos-icvu{
    max-width: 70px;
    align-self: center;
  }
  .dimension_icvu p{
    font-size: 13px;
    margin: 0;
  }
  .dimension_icvu h5{
    font-size: 14px;
    margin: 0.5em;
    font-weight: bold;
  }
  h4{
    text-transform: uppercase;
    margin: 1em;
    font-size: 18px;
  }
  hr{
    border: 0.5px solid #222;
  }
  .underscore {
      width: 550px;
  }
  .mini {
      width: 50px;
  }
.col-md-8 span{
    font-weight: 600;
  }

/* @media (max-width: 1099px){
    .col-md-8, .col-md-5, .col-md-6, .col-md-3, .col-lg-8, .col-lg-3, .col-lg-5, .definicion, .footer_main{
      display: none;
    }  */
/* modal */

.modal{
  align-self: center;

}